li {
    display: inline-block; /* Строчно-блочные элементы */
    background: #CA181A; /* Цвет фона */
    margin-right: 3px; /* Расстояние между пунктами меню */
    -webkit-transform: skewX(-30deg); /* Для Safari и Chrome */
    -moz-transform: skewX(-30deg); /* Для Firefox */
    -o-transform: skewX(-30deg); /* Для Opera */
    -ms-transform: skewX(-30deg); /* Для IE */
    transform: skewX(-30deg); /* CSS3 */
}

.my_boks5 {
    color: #fff; /* Цвет ссылок */
    display: block; /* Блочный элемент */
    padding: 5px 15px; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    -webkit-transform: skewX(30deg); /* Для Safari и Chrome */
    -moz-transform: skewX(30deg); /* Для Firefox */
    -o-transform: skewX(30deg); /* Для Opera */
    -ms-transform: skewX(30deg); /* Для IE */
    transform: skewX(30deg); /* CSS3 */
}

li:hover {
    background: #333; /* Цвет фона при наведении курсора мыши */
}

.my_boks1, .my_boks2 {
    margin: 10px;
    padding: 20px 10px;
    display: inline-block;
}

.my_boks1 {
    background-color: #f9aaaa;
    border: 3px dotted #f86565;
}

.my_boks2 {
    background-color: #b1eab1;
    border: 3px dotted #61bd62;
}

.container {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.block {
    width: 200px;
    height: 300px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid darkgreen;
}

.imgs {
    width: 150px;
    height: 200px;
}

#menu {
    border-radius: 10px;
    position: absolute;
    top: 74px;
    left: 0px;
}

#select_min_price, #select_max_price, #select_min_rating, #select_max_rating {
    width: 90px;
}

.minim {
    min-width: 900px;
}
